
/*general*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

section{
	clear: right;
	padding: 0 10px;
	margin-bottom: 42px;
}

.hide{
	display: none;
}

img{
	max-width: 100%;
}

a{
	text-decoration: none;
	color: #fff;
}

p{
	font-family: "Segoe UI";
	font-size: 20px;
	margin-bottom: 30px;
	line-height: 35px;
}

.bold{
	font-weight: 700;
	font-size: 16px;
}

.title{
	font-family: "Segoe UI";
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	color: #283744;
	margin-bottom: 15px;
}

#article .title{
	text-align: center;
	margin-top: 30px;
}

.title-article{
	font-size: 30px;
	text-align: center;
	margin-bottom: 45px;
}

.title-page{
	font-family: "Segoe UI";
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	color: #283744;
	padding: 35px 0;
}










/*----------HEADER----------*/
header{
	width: 100%;
	position: fixed;
	top: 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: #fff;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
}


/*navigation*/
#hamburgermenu{
	cursor: pointer;
}

/*#hamburgermenu:focus .hambar{
	box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
	background-color: red;
}*/

.hambar{
	width: 25px;
	height: 4px;
	margin-bottom: 6px;
	background-color: #283744;
	transition: all 0.4s ease-out;
	position: relative;
	z-index: 4;
}

.bar3{
	margin-bottom: 0;
	width: 18px;
}

/*menu transition*/
.change-bar1{
	transform: rotate(405deg) translate(2px, 5px);
	background-color: #fff;
}

.change-bar2{
	transform: rotate(495deg) translate(-2px, 5px);
	background-color: #fff;
}

.change-bar3{
	opacity: 0;
	transform: translateY(20px);
	background-color: #fff;
}

#navmenu{
	position: absolute;
	top: 0px;
	z-index: 3;
	background-color: #283744;
	height: 100vh;
}

.before-nav{
	transform: translateX(-500px);
	/*opacity: 0;*/
	transition: 0.8s all linear;
	width: 0px;
}

.change-nav{
	left: 0px;
	transform: translateX(0px);
	width: 100%;
/*	opacity: 1;*/
}

#navmenu ul{
	list-style-type: none;
	margin-top: 150px;
}

#navmenu ul li{
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	font-size: 20px;
	font-family: "Segoe UI";
	font-weight: 500;
	margin-bottom: 27px;
}

/*search bar*/
#searchbar img{
	cursor: pointer;
}

/*#searchbar img:focus{
	border: 2px solid red;
}*/

#search{
	position: absolute;
	top: 78px;
	left: 0px;
	background: linear-gradient(black, rgba(0,0,0,0.1) 80%);
	height: 100vh;
	width: 100%;
	transition: all 0.4s ease-in;
}

#search input{
	display: block;
	width: 90%;
	padding: 7px;
	margin-top: 20px;
	margin: 20px auto;
	font-size: 30px;
}


/*logo*/
#logospace{
	position: relative;
	z-index: 999;
	max-width: 140px;
	overflow: hidden;
}

.change-logospace img{
	filter: invert(100%);
}




/*-MEDIA QUERIES-*/
@media screen and (min-width: 950px){
	header{
		flex-direction: row;
		padding-top: 0px;
		padding-bottom: 0px;
	}

	nav{
		max-height: 78px;
	}

	 #hamburgermenu{
	 	display: none;
	 }

	 .before-nav{
		transform: translateX(0px);
		transition: 0.8s all linear;
		width: auto;
}

	 #navmenu{
	 	position: static;
	 	height: auto;
	 	background: none;
	 	margin-left: 150px;
	 }

	 #navmenu ul{
	 	display: flex;
	 	flex-direction: row;
	 	margin-top: 0px;
	 	height: 78px;
	 }

	 #navmenu ul .active{
	 	background-color: #283744;
	 	color: #fff;
	 }

	 #navmenu ul li{
	 	color: #283744;
	 	margin: 0px 18px;
	 	line-height: 78px;
	 	height: 100%;
	 	padding: 0px 3px;
	 }

	 #navmenu ul li:first-child{
	 	display: none;
	 }

}









/*----------HOME PAGE----------*/
#hero{
	margin-top: 78px;
	margin-bottom: 0;
	padding: 0;
}

#heroContainer{
	max-width: 100%;
	overflow: hidden;
}


/*article sections*/
section .article:nth-child(3), section .article:nth-child(4){
	display: none;
}

.article{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 22px;
	padding-bottom: 22px;
	border-bottom: 0.5px solid rgba(0,0,0,0.1);
}

.thumb{
	box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
	max-width: 200px;
}

.artlink{
	max-width: 50%;
	overflow: hidden;
	text-align: center;
}

.artop{
	text-decoration: none;
	color: #283744;
	font-family: Arial;
	font-size: 18px;
	text-align: center;
	transition: 0.3s ease;
}

.artop:hover{
	color: #c4343e;
}

.artop:focus{
	font-weight: 700;
}

.viewall{
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	float: right;
	color: #c4343e;
	font-family: "Segoe UI";
	font-weight: 700;
}




/*MEDIA QUERIES*/
@media screen and (min-width: 720px){

	#popculture, #music, #entertainment{
		padding: 0px 25px;
	}

	.articles{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: flex-start;
		/*padding: 0px 25px;*/
	}

	.article{
		flex-direction: column;
		border-bottom: none;
		max-width: 400px;
	}

	.article-image{
		text-align: center;
	}

	.thumb{
		max-width: 300px;
		text-align: center;
		margin-bottom: 10px;
	}

	.artlink{
		max-width: 300px;
	}
}




@media screen and (min-width: 800px){
	.thumb{
		max-width: 350px;
	}

	.artlink{
		max-width: 300px;
	}
}










/*----------ARTICLE PAGE----------*/
#gallery{
	display: flex;
	flex-direction: column;
	margin: 78px auto;
	z-index: 1;
	max-width: 1000px;
}

#galleryContainer{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	place-items: center center;
}

.galleryImage{
	grid-column: 1 / -1;
	grid-row: 1 / -1;
	overflow: hidden;
	opacity: 0;
	transition: all 0.6s ease-out;
}

#bullets{
	grid-column: 1 / -1;
	grid-row: 1 / -1;
	place-self: end center;
	margin-bottom: 15px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	z-index: 2;
}

.bullet{
	height: 16px;
	width: 16px;
	border-radius: 100%;
	background-color: #fff;
	margin: 5px;
	transition: all 0.3s ease-in;
}

.bullet:hover{
	background-color: #666;
}

#bullets .active{
	background-color: #666;
}


/*article*/
#article{
	max-width: 1620px;
	margin: auto;
}

.article-image{
	max-width: 1000px;
	overflow: hidden;
	margin: auto;
}




/*-MEDIA QUERIES-*/
@media screen and (min-width: 720px){
#gallery{
	margin: 125px auto;
}

#article{
	padding: 0px 100px;
}

.article-image{
	margin-bottom: 50px;
}
}

