
@keyframes logohover{
	33%{
		transform: scale(1.2);
	}
	66%{
		transform: scale(0.8);
	}
	100%{
		transform: scale(1.0);
	}
}

.logohover{
	animation: logohover 1s ease-out;
}


@keyframes logosplit{
	33%{
		box-shadow: 0px 10px #01bec0;
	}
}


/*general*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main{
	max-width: 1920px;
}

section{
	clear: right;
	padding: 0 10px;
	margin-bottom: 42px;
}

.hide{
	display: none;
}

img{
	max-width: 100%;
}

a{
	text-decoration: none;
	color: #fff;
}

p{
	font-family: "Segoe UI", Arial, sans-serif;
	font-size: 20px;
	margin-bottom: 30px;
	line-height: 35px;
}

.bold{
	font-weight: 700;
	font-size: 16px;
}

.title{
	font-family: "Open Sans Condensed", "Segoe UI", Arial, sans-serif;
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
	color: #283744;
	margin-bottom: 15px;
}

#article .title{
	text-align: center;
	margin-top: 30px;
}

.title-article{
	font-size: 40px;
	text-align: center;
	margin-bottom: 45px;
}

.title-page{
	font-family: "Open Sans Condensed", Arial, sans-serif;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	color: #283744;
	padding: 35px 0;
	margin-bottom: 60px;
}

.textcontainer{
	position: relative;
	z-index: 2;
	bottom: -230px;
}

.bannertext{
	font-family: "Oswald", Arial, sans-serif;
	font-size: 140px;
	letter-spacing: 2px;
	color: #c4343e;
	opacity: 0.6;
	font-weight: 700;
}









/*----------HEADER----------*/
header{
	width: 100%;
	margin: auto;
	position: fixed;
	z-index: 22;
	top: 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: #fff;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
}


/*navigation*/
#hamburgermenu{
	cursor: pointer;
}

/*#hamburgermenu:focus .hambar{
	box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
	background-color: red;
}*/

.hambar{
	width: 25px;
	height: 4px;
	margin-bottom: 6px;
	background-color: #283744;
	transition: all 0.4s ease-out;
	position: relative;
	z-index: 4;
}

.bar3{
	margin-bottom: 0;
	width: 18px;
}

/*menu transition*/
.change-bar1{
	transform: rotate(405deg) translate(2px, 5px);
	background-color: #fff;
}

.change-bar2{
	transform: rotate(495deg) translate(-2px, 5px);
	background-color: #fff;
}

.change-bar3{
	opacity: 0;
	transform: translateY(20px);
	background-color: #fff;
}

#navhighlight{
	display: none;
}

#navmenu{
	position: absolute;
	top: 0px;
	z-index: 3;
	background-color: #283744;
	height: 100vh;
}

.before-nav{
	transform: translateX(-500px);
	/*opacity: 0;*/
	transition: 0.8s all linear;
	width: 0px;
}

.change-nav{
	left: 0px;
	transform: translateX(0px);
	width: 100%;
/*	opacity: 1;*/
}

#navmenu ul{
	list-style-type: none;
	margin-top: 150px;
}

#navmenu ul li{
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	font-size: 20px;
	font-family: "Segoe UI";
	font-weight: 500;
	margin-bottom: 27px;
}

/*search bar*/
#searchbar img{
	cursor: pointer;
}

/*#searchbar img:focus{
	border: 2px solid red;
}*/

#search{
	position: absolute;
	top: 78px;
	left: 0px;
	background: linear-gradient(black, rgba(0,0,0,0.1) 80%);
	height: 0px;
	width: 100%;
	transition: all 0.2s ease-out;
}

#search input{
	display: block;
	width: 90%;
	padding: 7px;
	margin-top: 20px;
	margin: 20px auto;
	font-size: 30px;
}


/*logo*/
#logospace{
	position: relative;
	z-index: 999;
	max-width: 140px;
	overflow: hidden;
}

#logospace:hover{
	animation: logohover 0.3s linear;
	animation-iteration-count: 2;
	cursor: pointer;
}

.change-logospace img{
	filter: invert(100%);
}




/*-MEDIA QUERIES-*/
@media screen and (min-width: 950px){
	header{
		flex-direction: row;
		height: 78px;
		padding: 0px 140px
	}

	nav{
		max-height: 78px;
		display: flex;
	}

	#navhighlight{
		position: relative;
		display: inline-block;
		z-index: -1;
		margin: 0;
		width: 2px;
		height: 78px;
		background-color: #c4343e;
		transition: 0.4s ease-out;
	}

	 #hamburgermenu{
	 	display: none;
	 }

	 .before-nav{
		transform: translateX(0px);
		transition: 0.8s all linear;
		width: auto;
}

	 #navmenu{
	 	/*position: static;*/
	 	right: 200px;
	 	height: auto;
	 	background: none;
	 /*	margin-left: 150px;*/
	 }

	 #navmenu ul{
	 	display: flex;
	 	flex-direction: row;
	 	margin-top: 0px;
	 	height: 78px;
	 }

	 #navmenu ul .active{
	 	background-color: #283744;
	 	color: #fff;
	 }

	 #navmenu ul li{
	 	color: #283744;
	 	margin: 0px 18px;
	 	line-height: 78px;
	 	height: 100%;
	 	padding: 0px 3px;
	 	transition: 0.4s ease-out;
	 }

	

	 #navmenu ul li a{
	 	color: #283744;
	 	transition: 0.5s ease;
	 }

 	#navmenu ul li:hover  a{
	 	color: #fff;
	}

	 #navmenu ul li:first-child{
	 	display: none;
	 }

}









/*----------FOOTER----------*/
footer{
	clear: right;
	width: 100%;
	background: url("../images/footer-bckgd.png");
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px 0px;
	box-shadow: 0px -5px 5px rgba(0,0,0,0.1);
	margin-top: 40px;
}

#footerlogo{
	max-width: 200px;
	margin-bottom: 40px;
}

#footernav ul{
	list-style-type: none;
}

#footernav ul li{
	text-align: center;
	margin-bottom: 20px;
}

#footernav ul li a{
	color: #fff;
	font-size: 20px;
	font-family: "Segoe UI";
	font-weight: 500;
}




/*-MEDIA QUERIES-*/
@media screen and (min-width: 720px){

	#footernav ul{
		display: flex;
		flex-direction: row;
	}

	#footernav ul li{
		border-right: 2px solid #fff;
		padding: 0px 10px;
		line-height: 30px;
	}

	#footernav ul li:last-child{
		border: none;
	}
}









/*----------HOME PAGE----------*/
#hero{
	margin-top: 78px;
	margin-bottom: 0;
	padding: 0;
}

#heroContainer{
	max-width: 100%;
	overflow: hidden;
}

#heroContainer video{
	display: none;
}

#heroContainer img{
	display: block;
}


/*article sections*/
section .acontainer:nth-child(3), section .acontainer:nth-child(4){
	display: none;
}

.article{
	display: flex;
	justify-content: space-around;
	align-items: center;
	justify-content: center;
	margin-bottom: 22px;
	padding-bottom: 22px;
	border-bottom: 0.5px solid rgba(0,0,0,0.1);
}

.thumb{
	box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
	max-width: 200px;
}

.artlink{
	max-width: 50%;
	overflow: hidden;
	text-align: center;
}

.artop{
	text-decoration: none;
	color: #283744;
	font-family: Arial;
	font-size: 18px;
	text-align: center;
	transition: 0.3s ease;
}

.artop:hover{
	color: #c4343e;
}

.artop:focus{
	font-weight: 700;
}

.viewall{
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	float: right;
	color: #c4343e;
	font-family: "Segoe UI";
	font-weight: 700;
}

/*banners*/
.banner{
	margin-bottom: 65px;
	text-align: center;
	/*border-top: 12px solid #000;
	border-bottom: 12px solid #000;*/
}




/*MEDIA QUERIES*/
@media screen and (min-width: 720px){
	#heroContainer{
		width: 90%;
		margin: auto;
		height: 90vh;
	}

	#heroContainer video{
		display: inline;
		max-width: 100%;
		margin: 0 auto;
	}

	#heroContainer img{
		display:none;
	}

	#controls{
		background-color: rgba(0,0,0,0.3);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		cursor: pointer;
		position: relative;
		bottom: 250px;
		z-index: 2;
		max-width: 600px;
		height: 100px;
		margin: auto;
		padding: 0px 50px;
		transition: all 0.3s ease-out;
		opacity: 0;
	}

	#controls:hover{
		background-color: rgba(0,0,0,0.5);

	}

	#play{
		margin-right: 50px;
		border-right: 25px solid #fff;
		border-bottom: 25px solid transparent;
		border-top: 25px solid transparent;
		width: 0px;
		height: 0px;
		transform: rotate(180deg);
	}

	#pause{
		height: 40px;
		width: 10px;
		background-color: #fff;
		/*box-shadow: 18px 0px 0px #fff;*/
	}

	#pause::after{
		display: block;
		content: "";
		height: 40px;
		width: 10px;
		background-color: #fff;
		transform: translateX(20px);
	}

	#maincontrols{
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	#stop{
		height: 30px;
		width: 30px;
		background-color:#fff;
		margin-right: 50px;
	}

	#replay{
		width: 30px;
		height: 30px;
		border-top: 3px solid #fff;
		border-right: 5px solid #fff;
		border-radius: 100%;
	}

	#replay::before{
		display: block;
		content: "";
		width: 0px;
		height: 0px;
		border-top: 15px solid transparent;
		border-bottom: 15px solid transparent;
		border-right: 15px solid #fff;
		transform: translate(3px, 5px);
	}

	#othercontrols{
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	#popculture, #music, #entertainment{
		padding: 0px 25px;
	}

	.title-page{
		font-size: 60px;
	}

	.articles{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 30px;
		align-items: start;
	}

	.article{
		flex-direction: column;
		border-bottom: none;
	}

	.article-image{
		text-align: center;
	}

	.thumb{
		max-width: 300px;
		text-align: center;
		margin-bottom: 10px;
	}

	.artlink{
		max-width: 300px;
	}
}




@media screen and (min-width: 800px){
	.thumb{
		max-width: 350px;
	}

	.artlink{
		max-width: 300px;
	}
}




@media screen and (min-width: 950px){

	#controls{
		bottom: 100px;
		/*max-width: 1200px;*/
		opacity: 0;
	}

	.articles{
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 30px;
	}

	.article{
		max-width: 440px;
		margin: 0px 30px;
	}

	section .acontainer:nth-child(3), section .acontainer:nth-child(4){
		display: flex;
	}

	.section-title{
		font-size: 40px;
		text-align: center;
		margin-bottom: 40px;
	}

	.viewall{
		font-size: 20px;
		margin-bottom: 40px;
		font-weight: 700;
	}
}











/*----------ARTICLE PAGE----------*/
#gallery{
	display: flex;
	flex-direction: column;
	margin: 78px auto;
	z-index: 1;
	max-width: 1000px;
}

#galleryContainer{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	place-items: center center;
}

.galleryImage{
	grid-column: 1 / -1;
	grid-row: 1 / -1;
	overflow: hidden;
	opacity: 0;
	transition: all 0.6s ease-out;
}

#bullets{
	grid-column: 1 / -1;
	grid-row: 1 / -1;
	place-self: end center;
	margin-bottom: 15px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	z-index: 2;
}

.bullet{
	height: 16px;
	width: 16px;
	border-radius: 100%;
	background-color: #fff;
	margin: 5px;
	transition: all 0.3s ease-in;
}

.bullet:hover{
	background-color: #666;
}

#bullets .active{
	background-color: #666;
}


/*article*/
#article{
	max-width: 1620px;
	margin: auto;
}

.article-image{
	max-width: 1000px;
	overflow: hidden;
	margin: auto;
}

.adspace{
	height: 150px;
	width: 100%;
	background-color: #999;
	color: #fff;
	text-align: center;
	font-size: 20px;
}

#next{
	background-color: #c4343e;
	max-width: 200px;
	float: right;
	margin-bottom: 40px;
}

#nextarticle{
	text-transform: uppercase;
	color: #fff;
	margin: 20px 0;
	padding: 8px;
	text-align: center;
	font-family: "Open Sans Condensed", Arial, sans-serif;
	font-size: 30px;
	cursor: pointer;
}




/*-MEDIA QUERIES-*/
@media screen and (min-width: 720px){
	/*#gallery{
		margin: 125px auto;
		height: 90vh;
	}*/
	#galleryContainer{
		max-height: 80vh;
	}

	#article{
		padding: 0px 100px;
	}

	.article-image{
		margin-bottom: 50px;
	}
}

